<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
                <binding name="BasicHttpBinding_IEducatorsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/Calculator/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="CalculatorService.ICalculator" name="BasicHttpBinding_ICalculator" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/EducatorsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEducatorsService"
                contract="EducatorsService.IEducatorsService" name="BasicHttpBinding_IEducatorsService" />
        </client>
    </system.serviceModel>
</configuration>